body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content {
  padding: 20px;
}

.header {
  padding: 10px;
  background: #edf2f4;
  border-bottom: 1px solid #999;
}
.header a {
  color: #0072ff;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 5px;
}
.header a:hover {
  color: #8a0f53;
}
.header small {
  color: #666;
}
.header .active {
  color: #2c7613;
}
.emoji-mart {
    float: right;
}
.emoji-mart-bar {
    display: none;
}
.logoutButton {
  margin-left: 60px;
}
.onlineStyle {
  width: 9%;
  margin-top: -4px;
  padding: 6px;
}
.userInfoClass{
  padding: 7px;
  background: #343a40;
  color: white;
}
.emojiStyle {
  width: 5%;
  padding: 2px;
  margin: 1px;
  border: 1px solid #343a40;
}
.messageSend {
  background:#343a40 !important ;
}
.typingClass {
  margin-left: 52px;
  color: green;
}
.userlist {
  overflow-y: scroll; 
}
.userInfoClass {
  position: sticky;
  top: -8px;
}
.message-list {
  z-index: -1;
}
.searchText {
  position: sticky;
  top: -1px;
}
